*__pycache__*
*command_output*
*logs*
.DS_Store
.venv
.vscode
.scripts
.templates
sample_templates
.sh
*.csv
!templates/**/*.csv

output
.claude
.scratch
bin/cli_onboard.egg-info

tools
.ruff_cache
.scratch
